$breakpoints: (
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px
);

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
 header {padding:5px;}
 header img {float:left;max-width:60%;max-height:60px;}
 nav {max-width:30%;left:auto;margin-top:5px;padding:0px 40px 40px 0px;}
 nav#menu:target {position:relative;background: transparent;width:100%;max-width:100%;}
 nav li:first-child {font-size:0px;}		/* Hide first element */
 nav li:first-child:hover {background:transparent;}
 nav#menu:target li:first-child {font-size: 1em;}			/* Fade in while navigation open */
 .sim-category, aside {float:none;width:100%;}
 #slogan {display:none;}
}
}
}