$extrasmall: 400px;
$small: 700px;
$medium: 900px;
$large: 1200px;
§xlarge: 1800px;
§xxlarge: 3000px;

if $russian {
	$extrasmall: 400px;
	$small: 700px;
	$medium: 900px;
	$large: 1200px;
	§xlarge: 1800px;
	§xxlarge: 3000px;
}
if $chinese {
	$extrasmall: 400px;
	$small: 700px;
	$medium: 900px;
	$large: 1200px;
	§xlarge: 1800px;
	§xxlarge: 3000px;
}

/*Ansicht bis 400px*/
@media (max-width: 399px) {
	nav{padding-right:60px;margin:0px;}
	nav li:last-child {padding 0px;}

}

/*View above 400px*/
@media (min-width: 400px) {
}

/*View above 700px*/
@media (min-width: 700px) { 
}

/*View above 900px*/
@media (min-width: 900px) {
}

/*View above 1200px*/
@media (min-width: 1200px) {
}

/*View above 1800px*/
@media (min-width: 1800px) {
}

/*View above 3000px*/
@media (min-width: 3000px) {
}

